@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Arimo&family=Lora:wght@700&display=swap%27'); */
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Lora:wght@700&display=swap%27');

#app {
    padding: 10px;
}

a {
    margin-right: 35px;
    width: 0.25vw;
    font-weight: bold;
    font-size: 14px;
    line-height: 50px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

h1 {
    @apply text-6xl font-bold;
    font-family: Lora;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
}

h3 {
    font-family: Arimo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #BFBFBF;
}

body {
    padding: 2.5%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #808080;
    background-color: black;
}

button {
    border: 2px grey solid;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 100px;
}

#meme {
    height: 640px;
    width: 640px;
}

img {
    margin: 10px;
}
